<main>
        <article>
            <div class="survey">
                    <div class="survey-backdiv">
                            <h1 style="text-align: center;"><b>What is a survey design?</b></h1>
                            <p>
                                    Survey design is the process of creating surveys with the goal of receiving maximum insights from survey research. 
                                    It includes using an online survey tool to design a survey from scratch or using ready-made survey templates.</p>
                    </div>
                    
                    <div class="survey-frontdiv">
                        <span style="color: white">TAKE A QUICK SURVEY FOR MORE INSIGHT</span>
                            <mat-form-field class="survey-frontdiv-inputcard" appearance="outline">
                                <input matInput #name placeholder="Enter your name to start" class="form-control">
                            </mat-form-field>
                            <p>
                                <button class="survey-frontdiv-btn" mat-raised-button (click)="startSurvey()">Start Survey</button></p>
                        </div>
            </div>
        </article>
    
        <article>
            <div class="words">
    
            <div class="words-1">
                    <h2>Everything you need to create the best surveys</h2>
            <p>Get access to survey templates that speak to customers, employees, or your target audience.
                Choose from expert-written sample questions to include in your surveys.
                Score your surveys to estimate their success rates with SurveyMonkey Genius.
                Explore our best practices for creating the even the most sophisticated surveys.</p>

                <img src="../../assets/Survey-Design-10-Things.png">
            </div>

            <div class="words-2">                
                <img src="../../assets/survey2.jpg">
                <h3>Identify what you want to cover in a survey</h3>

                <p>  Even before you finalize the survey design, it is vital to think about the objective of deploying a survey. 
                    Identify what you want to cover in a study and make sure the topic is clear at once.
                    Once there is clarity obtained on what the survey will be about, other steps will follow.                        
                    Split your core objective into multiple unique points. </p>

                <p> The brief should answer some basic questions: What kind of demographic details do you want to capture? 
                    Do you want to calculate Net Promoter Score ? Will it be a micro or macro survey? How many questions do you want
                    to have? What type of questions should be open-ended? Do you want to add variables to personalize surveys for 
                    respondents?</p>
            </div>
    
                 
            </div>
        </article>
    
        <article style="background-color:  rgb(161, 77, 77); height: 150px;" class="margin-top" >
            <p class="container subscribe" > TAKE A QUICK SURVEY FOR MORE INSIGHT </p>
        </article>
       
    
    
    </main>